@use 'variables' as *;

// mixins to take care of repeated patterns.
@mixin set-font($size: 1em, $line-height: 1.8em, $font: $fonts-body, $color: black) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
  color: $color;
  font-weight: 700;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin uppercase($color: $text-dark) {
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $color;
}

@mixin divider($color: $accent1) {
  border-bottom: 15px solid $color;
  border-top-left-radius: 100%;
}

@mixin animated-block {
  border-radius: 4px;
  position: relative;
  animation: move-left-right 3s linear infinite;

  @keyframes move-left-right {
    0% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(7deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

@mixin webkit-background() {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


@mixin link-hover($color: $grey-sidebar) {
  border-bottom: 1px solid $color;
  transition: border-bottom ease-in-out .3s;
}

@mixin first-letter($color: $accent1, $font-size: 3em, $line-height: 0.5em, $float: left, $clear: both) {
  color: $accent2;
  font-size: 5em;
  line-height: $line-height;
  float: $float;
  clear: $clear;
  font-weight: bolder;
  margin: 0.1em 0.1em 0.2em 0;
  text-shadow: 2px 2px 2px black;
}


@mixin bg-images($bg-img1, $bg-img2, $elem-position, $z-index, $opacity) {
  background-image: url($bg-img1), url($bg-img2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: $elem-position;
  z-index: $z-index;
  opacity: $opacity;
}

// these styles here should describe how the atoms (elements) should appear most of the time.  They can be overridden at the molecule (block) as necessary
h2,
h3,
h4 {
  font-family: $fonts-headline;
  margin: 0;
}

h1 {
  background: $accent1;
  color: $text-light;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

h2 {
  color: $text-light;
  font-weight: 900;
  /* Heavy */
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em;

}

h3 {
  font-size: 2.25em;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0 0;
  color: black;
 
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  @include set-font(1em);
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: $text-dark;
  text-decoration: none;
}

a:hover,
.design-selection a:hover {
  @include link-hover();
}

