@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

$fonts-headline: 'indie flower',cursive;
$fonts-body: 'sue ellen francisco', cursive;

$background-color: #87ceeb;
$primary: #556b2f;
$accent1: #228b22;
$accent2: #faedcd;
$grey-sidebar: rgb(243, 243, 140);
$text-dark: #333;
$text-light: #fff;
