@use 'variables' as *; //this puts all the variables in the global namespace.

@use 'atoms';

@use 'molecules';


* {
  box-sizing: border-box;
}

html {
  background-color: $background-color;
}

// h2,
// h3,
// h4 {
//   font-family: $fonts-headline;
//   margin: 0;
// }

// p {
//   padding: 5px;
// }

@media only screen and (min-width: 65em) {

  body {
    font-family: $fonts-body;
    color: $text-dark;
    margin: 0 auto;
    padding: 1em;
    width: 70em;
    z-index: 2;
  }

  //Div that envelopes the whole page
  .page-wrapper {
    border: 3px solid $primary;
  }

  //First section-header
  .intro {
    position: relative;
    background-color: $primary;
    //z-index: 1;
    padding: 2%;
  }

  $svgImagePath: "./svg-image.svg";

  h1 {
    top: 12rem;
    left: 15rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    transform: rotate(10deg);
    border: 2px solid $text-dark;
    padding: 1em;


    background-image: url(#{$svgImagePath});
    background-size: 1.5em;
    background-origin: padding-box;
    background-repeat: repeat;
    background-blend-mode: color-burn;
  }



  //Board handle 
  [role="banner"]::before {
    content: "";
    display: block;
    // border-top-left-radius: 100px;
    // border-top-right-radius: 100px;
    border-top: 3px solid $text-dark;
    position: absolute;
    border-radius: 100px 100px;
    width: 200px;
    height: 200px;
    //background-color: transparent;
    color: $text-dark;
    transform: translate(150%, 72%);



  }

  h2 {
    padding: 0.5rem;
    color: $primary;
    font-size: 50px;
    position: absolute;
    transform: translate(0.5%, 415%);
    z-index: 3;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.467);
  }



  // Bird img upload and positioning
  header {
    background-image: url(assets/bird-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding: .5rem;
    min-height: 500px;
    z-index: 1;
    box-shadow: 0 0 5px $grey-sidebar;
    filter: contrast(125%);

  }

  section {
    position: relative;
  }


  //Bird background fade img
  section::before {
    content: "";
    background-image: url(assets/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    max-width: 100%;
    width: 65rem;
    height: 31.2rem;
    z-index: 1;
    opacity: 30%;
  }


  .summary {
    display: grid;
    padding: 2% 2% 0;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    justify-items: start;

    abbr {
      color: $grey-sidebar;
    }

    p {
      padding: 3%;
      color: $accent2;
      text-shadow: 1px 1px 1px black;
      align-self: center;
    }

    :first-child:not(abbr):not(a) {
      grid-column: 1/6;
      grid-row: 1/3;
      border-left: 2px solid $primary;
      border-bottom: 2px solid $primary;
      background-color: $primary;
      width: 650px;
      z-index: 2;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 10px;
      border-left: 5px solid $grey-sidebar;
    }

    :last-child:not(abbr):not(a) {
      grid-column: 5/-1;
      background-color: lighten($primary, 10);
      grid-row: 2/3;
      width: 300px;
      justify-self: end;
      border-top-left-radius: 20px;
      min-height: 100px;
      text-align: end;
      margin-right: -1.2em;
      padding: 2%;
      line-height: 1.7em;
    }

    a {
      color: black;
      text-shadow: 0 0 5px $grey-sidebar;
    }
  }

  .preamble {
    position: relative;
    padding: 3%;
    background-color: $accent2;

    p {
      width: 55ch;
      margin-inline: auto;
      @include atoms.set-font(1.1em);
    }

    h3 {
      padding-bottom: 1rem;
      border: none;
      text-align: center;
      animation: swing-by 5s infinite alternate ease-in-out -7.5s;
      animation-fill-mode: forwards;
      transform: rotateY(40deg) rotateX(33deg) translateZ(0);
    }

    //Road img upload and positioning
    &::after {
      content: "";
      background-image: url(assets/road.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      box-shadow: 0px 0px 15px black;
      //height: 100%;
      width: 100%;
      position: absolute;
      inset: 0;
      opacity: 30%;
      z-index: 1;
    }

    & :is(p) {
      padding: 0.25rem;
      font-weight: 600;
      //color: black;
      position: relative;
      z-index: 1000;
      opacity: 1;
    }
  }

  .main {
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: repeat(5, auto);
    gap: 1em;
    background: $main-bg;
  }

  .explanation {
    grid-column: span 2;
    grid-row: 1/2;
    background-color: $text-light;
    background-color: $accent2;
    padding: 1%;
    border: 10px solid $primary;
    border-width: 50px 150px 20px;
    font-size: 17.6px;

    abbr {
      color: $accent2;
    }

    h3 {
      background-color: #556b2f;
      color: $accent2;
      text-align: center;
      border-bottom: 1px solid $accent2;
    }

    p {
      padding: 3% 5%;
      background-color: #556b2f;
      color: $accent2;
      font-weight: 400;
    }
  }

  .participation {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 3%;

    p {
      width: 55ch;
    }
  }

  .benefits {
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    text-align: justify;
    font-weight: 600;
    //gap: 2em;
    opacity: 100%;
    width: 350px;
    height: 350px;
    margin-top: 20px;
    align-self: center;

    h3 {
      text-align: center;
      padding: 2%;
      border-bottom: 1px solid $primary;
    }

    p {
      @include atoms.set-font(1em, 2.2em);
      //line-height: 2.2em;
      z-index: 1;
      color: black;
      opacity: 1;

    }

    //Earth img upload and positioning
    &::before {
      content: "";
      background-image: url(assets/earth-cropped.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100%;
      width: 100%;
      position: absolute;
      top: 1.7rem;
      right: 0.2rem;
      opacity: 15%;
      z-index: 2;
      animation: rotate 30s linear infinite;
      border-radius: 50%;
    }

    p::after {
      content: "";
      //border-top: 1px solid red;
      width: 100%;
      height: 1px;
      background-color: $primary;
      position: absolute;
      bottom: -2px;
      left: 0;
    }
  }

  .requirements {
    grid-column: span 2;
    grid-row: 3/4;
    column-count: 2;
    padding-bottom: 5%;
    gap: 2rem;
    padding: 3%;
  }

  [role="contentinfo"] {
    font-style: italic;
  }

  footer {
    display: flex;
    grid-column: 1/-1;

    //width: 100%;
    a {
      flex: 1 auto;
      justify-content: space-between;
      border-bottom: none;
      text-align: center;
      padding: 0.3rem;
      transition: .5s ease;
      @include atoms.divider
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: 500px auto;
    grid-template-rows: auto auto;
    gap: 2em;
    background: linear-gradient(50deg, lighten($accent1, 15), darken($accent2, 10%), lighten($background-color, 20));
    margin: auto;
    padding: 3%;
  }

  .zen-explanation {
    background: linear-gradient(50deg, lighten($accent1, 15), darken($accent2, 10%), lighten($background-color, 20));
  }

  .design-selection {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;

    .select {
      display: block;
      text-align: center;

    }

    ul {
      display: grid;
      position: relative;
      list-style: none;
      width: 100%;
      background-image: linear-gradient(57deg, transparent 80%, saturate($background-color, 10) 80%);
      // background-color: $primary;
      padding: 1rem;
      color: $grey-sidebar;
      //list-style-position: inside;
      border-radius: 5px;

      &::after {
        content: "";
        position: absolute;
        width: .05em;
        height: 100%;
        background-color: $grey-sidebar;
        transform: translateX(25px);
      }

      li {
        padding: 2% 7%;
        position: relative;

        &::before {
          content: "";
          width: .4rem;
          border-radius: 50px;
          aspect-ratio: 1/1;
          background-color: $grey-sidebar;
          transition: background-color 5s ease;
          position: absolute;
          left: 0;
          top: 1.3em;
          z-index: 100;
          transform: translateX(100%);
          outline: 0.3rem solid lighten($primary, 15);
        }

        a:first-child::after {
          content: ' 🌿';
        }

        a:last-child::after {
          content: ' 🌿';
        }

        a {
          color: $grey-sidebar;
          line-height: 2;
        }

        &:hover {
          transform: scale(1.01);
          transition: all .5s ease;
        }
      }

    }

  }

  .indicator {
    display: none;
  }

  .design-archives {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    justify-self: center;


    h3 {
      text-align: center;
      //padding: 2rem 0.8rem;
      border-bottom: none;
    }

    ul {
      list-style-type: none;
      position: relative;
      z-index: 2;
    }

    li {
      box-sizing: border-box;
      width: 15em;
      height: 3.5em;
      font-size: 20px;
      border-radius: 0.5em;
      margin: 0.8em;
      //color: white;
      line-height: 3.5em;
      transition: 0.3s ease;
      cursor: pointer;


    }

    a {
      color: $grey-sidebar;
    }

    li:nth-child(odd) {
      background: linear-gradient(to right, $primary, lighten($accent1, 5));
      text-align: left;
      padding-left: 5%;
      transform: perspective(500px) rotateY(45deg);

      &::after {
        content: "<";
        position: absolute;
        font-size: 32px;
        color: $grey-sidebar;
        left: 70%;
      }
    }

    li:nth-child(even) {
      background: linear-gradient(to left, $primary,
          lighten($accent1, 5));
      text-align: right;
      padding-right: 5%;
      transform: perspective(500px) rotateY(-45deg);

      &::after {
        content: ">";
        position: absolute;
        font-size: 32px;
        color: $grey-sidebar;
        left: 10%;
      }
    }

    li:nth-child(odd):hover {
      transform: perspective(250px) rotateY(45deg);
      padding-left: 5%;
    }

    li:nth-child(even):hover {
      transform: perspective(250px) rotateY(-45deg);
      padding-right: 5%;
    }


  }

  .zen-resources {
    display: flex;
    grid-column: 1/-1;
    grid-row: 2/3;

    h3 {
      display: none;
    }

    ul {
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: space-evenly;
    }

    a {
      text-decoration: none;
      border-bottom: none;
      flex: 1 auto;
    }
  }

  .design-selection ul {
    width: 100%;
    background-image: linear-gradient(57deg, transparent 80%, saturate($background-color, 10) 80%);
    background-color: $primary;
    padding: 1rem;
    color: $grey-sidebar;
    list-style-position: inside;
    border-radius: 5px;

    li a:first-child::after {
      content: ' 🌿';
    }

    li a:last-child::after {
      content: ' 🌿';
    }

    li a {
      color: $grey-sidebar;
      line-height: 2;
    }
  }

  abbr {
    cursor: help;
    color: $primary;
    text-decoration: none;

  }
}

@keyframes swing-by {
  100% {
    transform: rotateY(-40deg) rotateX(-43deg);
  }
}

@media only screen and (max-width: 600px) {



  h3 {
    text-decoration: underline;

  }

  header {
    display: flex;
    flex-direction: column;

    h1 {
      align-self: end;
    }

    h2 {
      font-size: 2.5em;
      text-align: center;
    }
  }

  .preamble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    padding: 0;

    h3,
    p {
      margin: 20px;
    }
  }
}

/*# sourceMappingURL=style.css.map */