@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  > h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
    @include atoms.uppercase($text-light);
    @include atoms.animated-block;
  }
}
.summary {
  @include atoms.uppercase($text-light);
  padding: 5% 0;
  a {
    color: $text-light; //in this case the link wants to be light instead of the default dark
  }
  p:first-of-type:first-letter {
    @include atoms.first-letter();
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
section h3 {
  @include atoms.divider();
}
.preamble p:first-of-type:first-letter {
  @include atoms.first-letter();
}
.requirements {
  @include atoms.divider
} 





