@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  > h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
    @include atoms.uppercase($text-light);
  }
}
.summary {
  @include atoms.uppercase($text-light);
  padding: 5% 0;
  // p:last-child {
  //   @include atoms.divider;
  // }
  a {
    color: $text-light; //in this case the link wants to be light instead of the default dark
  }
}
p {
  padding: 5px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
section h3 {
  @include atoms.divider();
}


.design-selection ul,
.design-archives ul{
  width: 100%;
  // height: 50%;
  background-image: linear-gradient(69deg, transparent 80%, saturate($background-color, 10) 80%);
  background-color: $primary;
  padding: 1rem;
  color: $grey-sidebar;
  list-style-position: inside;
  overflow: hidden;

  li a:first-child::after {
    content: ' 🌿';
  }

  li a:last-child::after {
    content: ' 🌿';
  }

  li a {
    color: $grey-sidebar;
    line-height: 2;
  }
}

abbr {
  cursor: help;
  color: $primary;
}
p {
  padding: 5px;
}

